body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2{
    text-align: center;
}

.score{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

img{
    width: 150px;
    height: 140px;
}